@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');


.welcome-message {
    box-sizing: border-box;
    border: none;
    width: 50%;
    margin: 50px auto 0 auto;
    text-align: center;
    font-size: 2rem;
    color: rgb(57, 54, 54);
    background-color: white;
    opacity: .8;
    border-radius: 12px;
    padding: 14px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    height: auto;
    max-height: 70vh;
    overflow-y: auto;
}

@media (max-width:1200px) {
    .welcome-message {
        width: 60%;
    }
}

@media (max-width:1000px) {
    .welcome-message {
        width: 70%;
    }
}

@media (max-width:800px) {
    .welcome-message {
        width: 80%;
    }

    @media (max-width:700px) {
        .welcome-message {
            width: 90%;
        }
    }
}

@media (max-width:600px) {
    .welcome-message {
        margin-top: 20px;
        width: 100%;
        font-size: 1.3rem;
        max-height: 80vh;
    }
}